.navbar {
    background-color: rgb(35, 35, 35);

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    width: 100%;
    min-height: 60px;
    margin: 0;
    padding: 0px 0px;
    ;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
}

.left-section .icon {
    display: none;
}

a.name {
    text-decoration-line: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    width: 150px;


    transition: all .25s;

}

.name:hover {
    text-decoration-line: underline;
}

.navlist {
    display: flex;

    align-content: bottom;
    align-items: flex-end;

    list-style-type: none;
    overflow: hidden;
    flex: 1;
    max-width: 360px;

    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}


.navlist a {
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    height: 48px;


    color: white;
    font-size: 1rem;
    text-decoration-line: none;
    transition: all .25s;

    flex: 1;
    order: 1;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 0px;
}

.navbar .active {
    background-color: rgb(70, 70, 70);
    order: 1;
    text-decoration: underline;

}



.navlist a:hover:not(.active) {
    background-color: black;
}

/* Phone/Tablet-Specific Menu */
@media only screen and (max-width: 768px) {

    /* Only show selected until menu shown */
    .navlist a:not(.name) {
        display: none;
    }

    .navbar {
        display: block;
        min-height: 48px;
    }

    /* Menu Icon */
    .left-section .icon {
        display: flex;

        text-align: center;
        align-items: center;
        justify-content: center;
        height: 48px;


        color: white;
        font-size: 1rem;
        text-decoration-line: none;
        transition: all .25s;

        flex: 1;
        order: 1;

        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom: 0px;
        min-width: 90px;
        width: 100%;
    }

    /* Hover Menu Icon */
    .left-section a.icon:hover {
        background-color: black;
    }

    /* Open Menu */
    .navbar.dropdown {
        display: block;
    }

    .navbar.dropdown .left-section a.icon {
        background-color: white;
    }

    navbar.dropdown {
        position: relative;
    }

    .navbar.dropdown .navlist {
        gap: 3px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        max-width: 100%;

    }

    /* Open Menu Icon */

    /* Open Menu Links */
    .navbar.dropdown .navlist a {
        text-align: center;
        float: none;
        display: flex;
        text-align: left;
        padding: 10px;
        background-color: rgb(35, 35, 35);
    }
    
    .navbar.dropdown .navlist a:hover{background-color: black;}

}