.navbar{
    background-color: rgb(35,35,35);

    display:flex;
    flex-direction: row;
    align-items:flex-end;
    
    width:100%;
    min-height: 60px;
    margin:0;
    padding: 0px 0px;;
    justify-content:space-between;
}

.navbar .navlist .icon{
    display: none;
}

.left-section{
    display: flex;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
    height:48px;
    padding-left: 10px;
}

a.name {
    text-decoration-line: none;
    text-align: center;
    font-size: 1.5rem;
    color:white;
    font-weight: 700;
    width: 150px;
    

    transition: all .25s;
    
}
.name:hover{
    text-decoration-line: underline;
}

.navlist {
    display: flex;
    vertical-align: stretch;
    align-content: bottom;
    align-items: flex-end;

    list-style-type: none;
    overflow: hidden;
    flex: 1;
    max-width: 360px;

    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    
}


.navlist a{
    display: flex;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    height:48px;
    

    color: white;
    font-size:1rem;
    text-decoration-line: none;
    transition: all .25s;
    
    flex:1;
    order:1;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 0px;
}

.navbar .active{
    background-color: rgb(70, 70, 70);
    order: 1;
    text-decoration: underline;

}



.navlist a:hover:not(.active){
    background-color: black;
}

