.project-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project {
    background-color: grey;
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    border: 2px;

    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.project img{
    max-width: 30%;
    max-height: 100%;
    height: auto;
    width: fit-content;
    padding-right:10px;
}